<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfect Pizza</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    {{!-- <h1 class="center">Perfect Menu</h1> --}}

    {{> shopcart}}

    {{{body}}}


    {{!-- <div class="container col-12 contact_details box_model center">
        <h2 class="center">Contact Details</h2>
        <div class="contacts center">
            <i class="fas fa-phone center"></i>: 016 2546 588 <br>
            <i class="far fa-envelope-open center"></i>: info@perfectpizza.com
        </div>
        </div>
    </div> --}}

   

    {{!-- <p id="location">
        Pizza Plaza <br>
        Dough Road <br>
        Base Town
    </p> --}}


</html>