<div class="container">

    <div class="row">
        <div class="col-4">
            <div class="pizzas">
                <div class="pizza Small_pizza">

                    <h2>Small Pizza</h2>
                    <img src="https://theleadsouthaustralia.com.au/wp-content/uploads/2020/04/Beston-Mozzarella-Pizza.jpg"
                        width="140">
                    <h3>R49.25</h3>
                    <div class="line clearfix">small pizza with 3 toppings
                        1 meat topping.
                        3 or less other toppings.</div>
                    <form action="/cart" method="POST">
                        <button class="pBtn small_buy" name="size" value="smallAddButton" on type="submit">ORDER!</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="pizza Medium_pizza">
                <h2>Medium Pizza</h2>
                <img src="https://theleadsouthaustralia.com.au/wp-content/uploads/2020/04/Beston-Mozzarella-Pizza.jpg"
                    width="170">
                <h3>R89.75</h3>
                <div>medium margeritha pizza
                    with 3 toppings max. 2 or
                    less meat topping. 3 or
                    less other toppings.</div>
                <form action="/cart" method="POST">
                    <button class="pBtn med_buy" name="size" value="mediumAddButton" on type="submit">ORDER!</button>
                </form>

            </div>
        </div>
        <div class="col-4">
            <div class="pizza Large_pizza">
                <h2>Large Pizza</h2>
                <img src="https://theleadsouthaustralia.com.au/wp-content/uploads/2020/04/Beston-Mozzarella-Pizza.jpg"
                    width="190">
                <h3>R129.50</h3>
                <div class="line2">large margeritha pizza with
                    3 toppings max. 3 meat
                    toppings max. 3 or less
                    other toppings.
                </div>
                <form action="/cart" method="POST">
                    <button class="pBtn large_buy" name="size" value="largeAddButton" on type="submit">ORDER!</button>
                </form>

            </div>
        </div>
        <div class="col-12">
            <div class="pizza Contact_us">
                <h2>Contact details</h2>
                Contact us via Tel on 011 340 1231 or
                visit our website on info@perfectpizza.co.za
            </div>
        </div>
    </div>
    <div class="footer">
        <h6>Lesego Tshipu | Perfect Pizza/SimpleGrid | UJ-Accenture Collaboration 2021</h6>
    </div>
</div>
